.SiginView {
  max-width: 400px;
  margin: 15vh auto;
  border: none;
}

.SiginViewHeading {
  text-align: center;
}

.SiginViewFieldset {
  border: none;
}

.SiginViewSubmitButton {
  margin-top: 20px;
}